<?xml version="1.0"?>
<ruleset name="Free Widgets For Elementor">
	<description>Coding standards for the Free Widgets For Elementor plugin.</description>

	<file>.</file>

	<exclude-pattern>/node_modules/*</exclude-pattern>
	<exclude-pattern>/.wordpress-org/*</exclude-pattern>
	<exclude-pattern>/.github/*</exclude-pattern>

	<arg name="extensions" value="php"/>
	<arg name="basepath" value="."/>
	<arg name="parallel" value="8"/>
	<arg value="ps"/>

	<config name="minimum_wp_version" value="6.0"/>
	<config name="testVersion" value="7.4-"/>

	<rule ref="WordPress-Core">
		<exclude name="WordPress.Files.FileName"/>
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="free-widgets-for-elementor"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="fwfe"/>
				<element value="FWFE"/>
			</property>
		</properties>
	</rule>

	<rule ref="PHPCompatibilityWP"/>
</ruleset>
